@mixin button-color($color) {
  &,
  &:focus,
  &.focus,
  &.disabled,
  &:disabled,
  .show > &.dropdown-toggle {
    color: $color;
  }
}

@mixin button-color-hover($color, $bgColor) {
  &:hover:not(:disabled):not(.disabled),
  &.hover:not(:disabled):not(.disabled) {
    color: $color;
    background-color: $bgColor;
  }
}

@mixin button-color-active($color) {
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    color: $color;
  }
}

@mixin button {
  button {
    padding: 1rem 3rem;
    border-radius: $inputRadius;
    cursor: pointer;
    transition: .3s;
    &:hover {
      background-color: $textHoverColor2;
      color: $textColor
    }
  }
}
