.blog-detail {
  --column: 7;
  --padding: 2rem 4rem;
  --grid-column: 12;
  padding: var(--padding);
  width: calc(100% / var(--grid-column) * var(--column));
  height: 100%;
  background-color: #fff;
  margin: 0rem auto;
  color: $github;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 12px 15px rgb(140 152 164 / 10%);

  &.preview {
    --column: 12;
  }

  .box-info {
    color: $textColorSecond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0rem;
    .round-img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin: 3rem auto;
    }
  }

  .h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    padding: 2rem 0rem;
  }

  img {
    align-self: center;
    border-radius: 5px;
    margin: 3rem 0;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }

  p {
    margin: 1rem 0;
  }

  @include respond(1200px) {
    --column: 9;
  }

  @include respond(992px) {
    --column: 9;
  }

  @include respond(768px) {
    --column: 12;
    --padding: 0 1rem;
  }

  .striped {
    margin-top: 10rem;
  }
}
