.form-control {
  width: 100%;
  label {
    display: inline-block;
    font-size: 1.5rem;
    padding: 5px 0px;
    font-weight: 500;
  }
  .input-group {
    display: flex;
    width: inherit;
    .input {
      width: inherit;
      height: 4rem;
      border-radius: $inputRadius;
      outline: none;
      transition: 0.3s;
      padding: 0rem 1.3rem;
      background-color: whitesmoke;
      font-size: 1.5rem;
      &:focus-visible {
        border: 2px solid $textHoverColor2;
      }
      &.invalid {
        border:2px solid red;
      }
    }

    .textarea {
      font-family: inherit;
      width: inherit;
      border-radius: $inputRadius;
      outline: none;
      transition: 0.3s;
      padding: 1rem 1.3rem;
      background-color: whitesmoke;
      font-size: 1.5rem;
      height: 20rem;
      &:focus-visible {
        border: 2px solid $textHoverColor2;
      }
      &.invalid {
        border-color: red;
      }
    }
  }

  .error {
    font-size: 1.5rem;
    color: red;
  }
}
