.nav {
  float: right;
  li {
    display: inline;
    margin: 0rem 1.2rem;
    padding: 0rem 0.2rem;
    cursor: pointer;
    position: relative;

    &.active {
      color: $textHoverColor2;
    }

    &:hover {
      color: $textHoverColor2;
      transition: 0.3s;
    }

    // &:hover::after,
    // &:hover::before {
    //   top: 50%;
    //   width: 10px;
    //   color: $textHoverColor2;
    // }

    // &::after,
    // &::before {
    //   position: absolute;
    //   content: '';
    //   width: 0;
    //   height: 1.5px;
    //   background-color: $textHoverColor2;
    //   transition: 0.3s;
    // }

    // &::after {
    //   right: 100%;
    // }

    // &::before {
    //   left: 100%;
    // }
  }

  @include respond($breakpoint) {
    z-index: 20;
    float: none;
    position: fixed;
    margin: 0 auto;
    padding: 2rem 0rem;
    left: 0;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    display: none;
    color: #fff;

    li {
      width: fit-content;
      display: block;
      margin: auto;
      padding: 0rem 1.2rem;
      transform: translateX(100%);
      opacity: 0;
      animation: nav-appear 0.2s ease-in-out forwards;
      --load-delay-2: 0.1s;
      --load-delay-3: 0.2s;
      --load-delay-4: 0.3s;
      &:nth-child(2) {
        animation-delay: var(--load-delay-2);
      }
      &:nth-child(3) {
        animation-delay: var(--load-delay-3);
      }
      &:nth-child(4) {
        animation-delay: var(--load-delay-4);
      }
      &:hover::after,
      &:hover::before {
        top: 50%;
        width: 10px;
        color: $textHoverColor2;
      }
    }
  }
}

.show {
  display: block;
}

@keyframes nav-appear {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  80% {
    opacity: 0.6;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
